.heroe{
  width: 200px;
  height: 200px;  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  background-image: url('/assets/Heroe.png');  
}

.hechicero{
  width: 200px;
  height: 200px;  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  background-image: url('/assets/Hechicero.png');  
}

.arquera{
  width: 200px;
  height: 200px;  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  background-image: url('/assets/arquera.jpg');  
}
