button {
  padding: 12px 24px;
  font-size: 18px;
  width: 300px;
  background-color: #ff000073;
  color: white;
  border: none;
  border-radius: 6px;
  margin: 10px;
  cursor:pointer;
  }
 
button:hover {
background-color: #0056b3;
}

.interfaz{
  margin-top: 5px;
  display: flex;    
  flex-direction:row;      
  justify-content: space-around;
}

.inferfazBotones{
  display: flex;
  flex-direction: column;
}

.selectorHeroe{
  width: 300px;
  font-size: 20px;
  background-color: #ff000073;
  color: white;
}

.barra {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
  align-items: center;

}

.barra-container {
  width: 200px;
  height: 25px;
  background-color: #333;
  border: 2px solid #555;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
}

.barra-interna {
  height: 100%;
  width: 100%;
  transition: width 0.3s ease;
}

.vida {
  background-color: crimson;
}

.mana {
  background-color: royalblue;
}

.contenedorBarras{
  display: flex;
  justify-content: space-around;
}

.emoji-boss {
  font-size: 45px;
  filter: drop-shadow(0 0 4px red);  
}

