@use 'boss';
@use 'variables';
@use 'heroes';
@use 'marcos';
@use 'interfaz';

body{
  background-image: url('../assets/Calabozo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(112, 106, 106);
}